.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.MainNav{
  width: 100%;
  background-color: black;
}
.MainNav .wrapper{
  max-width: 1150px;
}
.MainNav .wrapper ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainNav .wrapper ul li{
  padding: 10px;
}
.MainNav .wrapper ul li:first-child{
  margin-right: 50px;
}
